/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Set up full-screen section style */
section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Set up the background video */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Make sure video stays behind content */
}

/* Logo style */
#logo {
    max-width: 300px;
    z-index: 1;
}

/* Right arrow button style */
.arrow-button {
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Header style for next pages */
.page-header {
    color: black;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

/* Model viewer specific styles */
model-viewer {
    width: 300px;
    height: 300px;
    margin: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the arrow inside the white circle */
.arrow-button span {
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
}

/* Hide sections initially */
.hidden {
    display: none;
}
